html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

header {
    height: 15vh;
    min-width: 98vw;
    position: relative;
}

header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);

    font-size: xx-large;
}

container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    text-align: center;
}

.item > :nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item > :nth-child(2) {
    overflow-x: hidden;
}
